{
  "openapi": "3.0.1",
  "info": {
    "title": "3x Change API",
    "description": "API para conversão de PIX para criptomoedas. Para autenticar as rotas dessa API são necessário ter em mãos a **api_secret** e **api_key** da sua conta. Estes podem ser encontrados dentro do painel https://app.3xchange.co acessando a página de Configurações e clicando na opção de Credenciais de API.",
    "version": "1.0.0"
  },
  "servers": [
    {
        "url": "https://api.3xchange.co"
    }
  ],
  "tags": [
    {
      "name": "Carteiras Cripto",
      "description": "Operações relacionadas ao gerenciamento de carteiras cripto"
    },
    {
      "name": "Cotações",
      "description": "Operações relacionadas a cotações de criptomoedas"
    },
    {
      "name": "Pagamentos",
      "description": "Operações relacionadas a pagamentos PIX"
    }
  ],
  "security": [
    {
      "apiKeyAuth": [],
      "apiSecretAuth": []
    }
  ],
  "paths": {
    "/exchange/wallets": {
      "post": {
        "tags": ["Carteiras Cripto"],
        "operationId": "createWallet",
        "summary": "Criar Carteira",
        "description": "Cria uma nova carteira cripto para receber conversões de PIX",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWalletDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Carteira criada com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WalletResponseWrapperDto"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": ["Carteiras Cripto"],
        "operationId": "listWallets",
        "summary": "Listar Carteiras",
        "description": "Lista todas as carteiras cripto da sua conta",
        "parameters": [
          {
            "name": "network",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["polygon", "polygon_amoy", "ethereum", "tron"]
            },
            "description": "Filtro opcional por rede"
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de carteiras",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WalletListResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/exchange/wallets/{address}": {
      "get": {
        "tags": ["Carteiras Cripto"],
        "operationId": "getWallet",
        "summary": "Obter Carteira",
        "description": "Obtém detalhes de uma carteira cripto específica",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Endereço da carteira cripto"
          },
          {
            "name": "network",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["polygon", "polygon_amoy", "ethereum", "tron"]
            },
            "description": "Filtro opcional por rede"
          }
        ],
        "responses": {
          "200": {
            "description": "Detalhes da carteira",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WalletResponseWrapperDto"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Carteiras Cripto"],
        "operationId": "updateWallet",
        "summary": "Atualizar Carteira",
        "description": "Atualiza os dados de uma carteira cripto existente",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Endereço da carteira cripto"
          },
          {
            "name": "network",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["polygon", "polygon_amoy", "ethereum", "tron"]
            },
            "description": "Rede da criptomoeda"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateWalletDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Carteira atualizada com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WalletResponseWrapperDto"
                }
              }
            }
          }
        }
      }
    },
    "/exchange/quote": {
      "post": {
        "tags": ["Cotações"],
        "operationId": "createQuote",
        "summary": "Criar Cotação",
        "description": "Cria uma cotação para conversão de BRL para criptomoeda",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QuoteRequestDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Cotação criada com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuoteResponseWrapperDto"
                }
              }
            }
          }
        }
      }
    },
    "/exchange/payment": {
      "post": {
        "tags": ["Pagamentos"],
        "operationId": "createPayment",
        "summary": "Criar Pagamento",
        "description": "Cria um pagamento PIX baseado em uma cotação existente",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePaymentDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Pagamento criado com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentResponseWrapperDto"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ApiResponseDto": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Indica se a operação foi bem-sucedida"
          },
          "message": {
            "type": "string",
            "description": "Mensagem descritiva da operação"
          },
          "data": {
            "type": "object",
            "description": "Dados da resposta"
          }
        }
      },
      "WalletListResponseDto": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Indica se a operação foi bem-sucedida"
          },
          "message": {
            "type": "string",
            "description": "Mensagem descritiva da operação"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WalletResponseDto"
            }
          }
        }
      },
      "WalletResponseWrapperDto": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Indica se a operação foi bem-sucedida"
          },
          "message": {
            "type": "string",
            "description": "Mensagem descritiva da operação"
          },
          "data": {
            "$ref": "#/components/schemas/WalletResponseDto"
          }
        }
      },
      "CreateWalletDto": {
        "type": "object",
        "required": ["network", "address", "name"],
        "properties": {
          "network": {
            "type": "string",
            "enum": ["ethereum", "tron", "polygon", "polygon_amoy"],
            "description": "Rede da criptomoeda"
          },
          "address": {
            "type": "string",
            "description": "Endereço da carteira cripto"
          },
          "name": {
            "type": "string",
            "description": "Nome da carteira"
          }
        }
      },
      "UpdateWalletDto": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Novo nome para a carteira"
          },
          "address": {
            "type": "string",
            "description": "Endereço da carteira cripto"
          }
        }
      },
      "WalletResponseDto": {
        "type": "object",
        "properties": {
          "address": {
            "type": "string",
            "description": "Endereço da carteira cripto"
          },
          "network": {
            "type": "string",
            "description": "Rede da criptomoeda"
          },
          "name": {
            "type": "string",
            "description": "Nome da carteira"
          },
          "status": {
            "type": "string",
            "description": "Status da carteira"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Data de criação da carteira"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Data da última atualização"
          }
        }
      },
      "QuoteRequestDto": {
        "type": "object",
        "required": ["network", "token", "request_amount", "address"],
        "properties": {
          "network": {
            "type": "string",
            "enum": ["ethereum", "tron", "polygon", "polygon_amoy"],
            "description": "Rede da criptomoeda"
          },
          "token": {
            "type": "string",
            "enum": ["USDT", "USDC"],
            "description": "Token da criptomoeda"
          },
          "request_amount": {
            "type": "number",
            "description": "Valor em BRL para conversão"
          },
          "address": {
            "type": "string",
            "description": "Endereço da carteira cripto"
          }
        }
      },
      "QuoteDataDto": {
        "type": "object",
        "properties": {
          "quote": {
            "type": "object",
            "properties": {
              "quotation": {
                "type": "number",
                "description": "Taxa de cotação"
              },
              "expires_at": {
                "type": "number",
                "description": "Timestamp de expiração da cotação"
              },
              "receiver_amount": {
                "type": "number",
                "description": "Quantidade de criptomoeda que será recebida"
              },
              "sender_amount": {
                "type": "number",
                "description": "Valor em BRL enviado"
              }
            }
          },
          "wallet": {
            "type": "object",
            "properties": {
              "address": {
                "type": "string",
                "description": "Endereço da carteira cripto"
              },
              "status": {
                "type": "string",
                "description": "Status da carteira"
              },
              "network": {
                "type": "string",
                "description": "Rede da criptomoeda"
              },
              "name": {
                "type": "string",
                "description": "Nome da carteira"
              }
            }
          },
          "token": {
            "type": "string",
            "description": "Token da criptomoeda"
          }
        }
      },
      "QuoteResponseWrapperDto": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Indica se a operação foi bem-sucedida"
          },
          "message": {
            "type": "string",
            "description": "Mensagem descritiva da operação"
          },
          "data": {
            "$ref": "#/components/schemas/QuoteDataDto"
          }
        }
      },
      "CreatePaymentDto": {
        "type": "object",
        "required": ["quote_id"],
        "properties": {
          "quote_id": {
            "type": "string",
            "description": "ID da cotação para criar o pagamento"
          }
        }
      },
      "PaymentDataDto": {
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "Valor do pagamento em BRL"
          },
          "payment_code": {
            "type": "string",
            "description": "Código do pagamento PIX"
          },
          "quote_id": {
            "type": "string",
            "description": "ID da cotação utilizada"
          },
          "transaction_id": {
            "type": "string",
            "description": "ID da transação gerada"
          }
        }
      },
      "PaymentResponseWrapperDto": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Indica se a operação foi bem-sucedida"
          },
          "message": {
            "type": "string",
            "description": "Mensagem descritiva da operação"
          },
          "data": {
            "$ref": "#/components/schemas/PaymentDataDto"
          }
        }
      },
      "Error": {
        "type": "object",
        "required": ["error", "message"],
        "properties": {
          "error": {
            "type": "string",
            "description": "Tipo do erro"
          },
          "message": {
            "type": "string",
            "description": "Descrição do erro"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "api_key"
      },
      "apiSecretAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "api_secret"
      }
    }
  }
}