{
  "openapi": "3.0.1",
  "info": {
    "title": "3x Change API",
    "description": "API para conversão de PIX para criptomoedas. Para autenticar as rotas dessa API são necessário ter em mãos a **api_secret** e **api_key** da sua conta. Estes podem ser encontrados dentro do painel https://app.3xchange.co acessando a página de Configurações e clicando na opção de Credenciais de API.",
    "version": "1.0.0"
  },
  "servers": [
    {
        "url": "https://gateway.3xpay.co"
    }
  ],
  "tags": [
    {
      "name": "Carteiras Cripto",
      "description": "Operações relacionadas ao gerenciamento de carteiras cripto"
    },
    {
      "name": "Cotações",
      "description": "Operações relacionadas a cotações de criptomoedas"
    },
    {
      "name": "Pagamentos",
      "description": "Operações relacionadas a pagamentos PIX"
    },
    {
      "name": "Sub-accounts",
      "description": "Operações relacionadas a subcontas BaaS"
    }
  ],
  "security": [
    {
      "apiKeyAuth": [],
      "apiSecretAuth": []
    }
  ],
  "paths": {
    "/exchange/wallets": {
      "post": {
        "tags": ["Carteiras Cripto"],
        "operationId": "createWallet",
        "summary": "Criar Carteira",
        "description": "Cria uma nova carteira cripto para receber conversões de PIX",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWalletDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Carteira criada com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WalletResponseWrapperDto"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": ["Carteiras Cripto"],
        "operationId": "listWallets",
        "summary": "Listar Carteiras",
        "description": "Lista todas as carteiras cripto da sua conta",
        "parameters": [
          {
            "name": "network",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["polygon", "polygon_amoy", "ethereum", "tron"]
            },
            "description": "Filtro opcional por rede"
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de carteiras",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WalletListResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/exchange/wallets/{address}": {
      "get": {
        "tags": ["Carteiras Cripto"],
        "operationId": "getWallet",
        "summary": "Obter Carteira",
        "description": "Obtém detalhes de uma carteira cripto específica",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Endereço da carteira cripto"
          },
          {
            "name": "network",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["polygon", "polygon_amoy", "ethereum", "tron"]
            },
            "description": "Filtro opcional por rede"
          }
        ],
        "responses": {
          "200": {
            "description": "Detalhes da carteira",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WalletResponseWrapperDto"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Carteiras Cripto"],
        "operationId": "updateWallet",
        "summary": "Atualizar Carteira",
        "description": "Atualiza os dados de uma carteira cripto existente",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Endereço da carteira cripto"
          },
          {
            "name": "network",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["polygon", "polygon_amoy", "ethereum", "tron"]
            },
            "description": "Rede da criptomoeda"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateWalletDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Carteira atualizada com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WalletResponseWrapperDto"
                }
              }
            }
          }
        }
      }
    },
    "/exchange/quote": {
      "post": {
        "tags": ["Cotações"],
        "operationId": "createQuote",
        "summary": "Criar Cotação",
        "description": "Cria uma cotação para conversão de BRL para criptomoeda",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QuoteRequestDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Cotação criada com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuoteResponseWrapperDto"
                }
              }
            }
          }
        }
      }
    },
    "/exchange/payment": {
      "post": {
        "tags": ["Pagamentos"],
        "operationId": "createPayment",
        "summary": "Criar Pagamento",
        "description": "Cria um pagamento PIX baseado em uma cotação existente",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePaymentDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Pagamento criado com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentResponseWrapperDto"
                }
              }
            }
          }
        }
      }
    },
    "/exchange/bank-accounts": {
      "post": {
        "tags": ["Contas Bancárias"],
        "operationId": "createBankAccount",
        "summary": "Criar Conta Bancária",
        "description": "Cria uma conta bancária PIX usando nome e chave PIX",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBankAccountDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Conta bancária criada com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BankAccountResponseWrapperDto"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": ["Contas Bancárias"],
        "operationId": "listBankAccounts",
        "summary": "Listar Contas Bancárias",
        "description": "Lista todas as contas bancárias do usuário",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "1"
            },
            "description": "Número da página"
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "10"
            },
            "description": "Itens por página"
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filtro parcial por nome (case-insensitive)"
          },
          {
            "name": "pix_key",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filtro parcial por chave PIX (case-insensitive)"
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filtro exato por tipo de conta (ex: pix)"
          }
        ],
        "responses": {
          "200": {
            "description": "Contas bancárias listadas com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BankAccountListResponseWrapperDto"
                }
              }
            }
          }
        }
      }
    },
    "/exchange/bank-accounts/{id}": {
      "get": {
        "tags": ["Contas Bancárias"],
        "operationId": "getBankAccount",
        "summary": "Buscar Conta Bancária",
        "description": "Busca uma conta bancária pelo ID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID da conta bancária"
          }
        ],
        "responses": {
          "200": {
            "description": "Conta bancária encontrada com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BankAccountResponseWrapperDto"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Contas Bancárias"],
        "operationId": "updateBankAccount",
        "summary": "Atualizar Conta Bancária",
        "description": "Atualiza o nome da conta bancária",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID da conta bancária"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBankAccountDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Conta bancária atualizada com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BankAccountResponseWrapperDto"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Contas Bancárias"],
        "operationId": "deleteBankAccount",
        "summary": "Deletar Conta Bancária",
        "description": "Remove a conta bancária",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID da conta bancária"
          }
        ],
        "responses": {
          "200": {
            "description": "Conta bancária removida com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/exchange/payout-quote": {
      "post": {
        "tags": ["Payout"],
        "operationId": "createPayoutQuote",
        "summary": "Criar Quote de Payout",
        "description": "Cria uma cotação de payout para converter USDC/USDT em BRL e liquidar em conta bancária PIX",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PayoutQuoteRequestDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payout quote criada com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PayoutQuoteResponseWrapperDto"
                }
              }
            }
          }
        }
      }
    },
    "/exchange/payout": {
      "post": {
        "tags": ["Payout"],
        "operationId": "createPayout",
        "summary": "Criar Payout",
        "description": "Executa um payout a partir de uma payout quote existente",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PayoutRequestDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payout executado com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PayoutResponseWrapperDto"
                }
              }
            }
          }
        }
      }
    },
    "/sub-accounts": {
      "post": {
        "tags": ["Sub-accounts"],
        "operationId": "createSubAccount",
        "summary": "Criar Subconta",
        "description": "Cria uma nova subconta completa, incluindo usuário e informações da empresa",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSubAccountRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Subconta criada com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateSubAccountResponse"
                }
              }
            }
          }
        }
      }
    },
    "/sub-accounts/document": {
      "post": {
        "tags": ["Sub-accounts"],
        "operationId": "uploadPersonalDocument",
        "summary": "Upload Documento Pessoal",
        "description": "Faz upload de documentos pessoais da subconta (RG, CNH, Selfie)",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": ["documentType", "file"],
                "properties": {
                  "documentType": {
                    "type": "string",
                    "description": "Tipo do documento",
                    "enum": ["RG_FRONT", "RG_BACK", "CNH_FRONT", "CNH_BACK", "SELFIE"]
                  },
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "Arquivo do documento"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Documento enviado com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadDocumentResponse"
                }
              }
            }
          }
        }
      }
    },
    "/sub-accounts/document/company": {
      "post": {
        "tags": ["Sub-accounts"],
        "operationId": "uploadCompanyDocument",
        "summary": "Upload Documento Empresa",
        "description": "Faz upload de documentos empresariais da subconta (Comprovante de Endereço, CNPJ, Contrato Social)",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": ["documentType", "file"],
                "properties": {
                  "documentType": {
                    "type": "string",
                    "description": "Tipo do documento",
                    "enum": ["PROOF_OF_RESIDENCE", "CNPJ", "SOCIAL_CONTRACT"]
                  },
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "Arquivo do documento"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Documento da empresa enviado com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadDocumentResponse"
                }
              }
            }
          }
        }
      }
    },
    "/sub-accounts/open-full-account": {
      "post": {
        "tags": ["Sub-accounts"],
        "operationId": "openFullAccount",
        "summary": "Abrir Conta Completa",
        "description": "Inicia o processo de abertura de conta completa",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Conta em análise",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAccountResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ApiResponseDto": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Indica se a operação foi bem-sucedida"
          },
          "message": {
            "type": "string",
            "description": "Mensagem descritiva da operação"
          },
          "data": {
            "type": "object",
            "description": "Dados da resposta"
          }
        }
      },
      "WalletListResponseDto": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Indica se a operação foi bem-sucedida"
          },
          "message": {
            "type": "string",
            "description": "Mensagem descritiva da operação"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WalletResponseDto"
            }
          }
        }
      },
      "WalletResponseWrapperDto": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Indica se a operação foi bem-sucedida"
          },
          "message": {
            "type": "string",
            "description": "Mensagem descritiva da operação"
          },
          "data": {
            "$ref": "#/components/schemas/WalletResponseDto"
          }
        }
      },
      "CreateWalletDto": {
        "type": "object",
        "required": ["network", "address", "name"],
        "properties": {
          "network": {
            "type": "string",
            "enum": ["ethereum", "tron", "polygon", "polygon_amoy"],
            "description": "Rede da criptomoeda"
          },
          "address": {
            "type": "string",
            "description": "Endereço da carteira cripto"
          },
          "name": {
            "type": "string",
            "description": "Nome da carteira"
          }
        }
      },
      "UpdateWalletDto": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Novo nome para a carteira"
          },
          "address": {
            "type": "string",
            "description": "Endereço da carteira cripto"
          }
        }
      },
      "WalletResponseDto": {
        "type": "object",
        "properties": {
          "address": {
            "type": "string",
            "description": "Endereço da carteira cripto"
          },
          "network": {
            "type": "string",
            "description": "Rede da criptomoeda"
          },
          "name": {
            "type": "string",
            "description": "Nome da carteira"
          },
          "status": {
            "type": "string",
            "description": "Status da carteira"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Data de criação da carteira"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Data da última atualização"
          }
        }
      },
      "QuoteRequestDto": {
        "type": "object",
        "required": ["network", "token", "request_amount", "address", "currency_type"],
        "properties": {
          "network": {
            "type": "string",
            "enum": ["ethereum", "tron", "polygon", "polygon_amoy"],
            "description": "Rede da criptomoeda"
          },
          "token": {
            "type": "string",
            "enum": ["USDT", "USDC"],
            "description": "Token da criptomoeda"
          },
          "request_amount": {
            "type": "number",
            "description": "Valor usado para calcular a cotação; interpretado conforme currency_type"
          },
          "address": {
            "type": "string",
            "description": "Endereço da carteira cripto"
          },
          "currency_type": {
            "type": "string",
            "enum": ["sender", "receiver"],
            "description": "Define se request_amount representa o valor que o pagador envia (sender) ou o valor que o recebedor deve receber (receiver)"
          },
          "cover_fees": {
            "type": "boolean",
            "description": "Indica se as taxas cobradas no pagamento gerado devem ser cobertas (incluídas no valor)"
          }
        }
      },
      "QuoteDataDto": {
        "type": "object",
        "properties": {
          "quote": {
            "type": "object",
            "properties": {
              "quote_id": {
                "type": "string",
                "description": "Identificador da cotação"
              },
              "quotation": {
                "type": "number",
                "description": "Taxa de cotação"
              },
              "commercial_quotation": {
                "type": "number",
                "description": "Taxa comercial aplicada"
              },
              "expires_at": {
                "type": "number",
                "description": "Timestamp de expiração da cotação"
              },
              "flat_fee": {
                "type": "number",
                "description": "Tarifa fixa aplicada"
              },
              "receiver_amount": {
                "type": "number",
                "description": "Quantidade de criptomoeda que será recebida"
              },
              "sender_amount": {
                "type": "number",
                "description": "Valor que o pagador envia"
              },
              "partner_fee_amount": {
                "type": "number",
                "description": "Valor de taxa do parceiro, quando aplicável"
              },
              "payin_quote_id": {
                "type": "string",
                "description": "Identificador de referência da cotação de entrada"
              }
            }
          },
          "wallet": {
            "type": "object",
            "properties": {
              "address": {
                "type": "string",
                "description": "Endereço da carteira cripto"
              },
              "status": {
                "type": "string",
                "description": "Status da carteira"
              },
              "network": {
                "type": "string",
                "description": "Rede da criptomoeda"
              },
              "name": {
                "type": "string",
                "description": "Nome da carteira"
              }
            }
          },
          "token": {
            "type": "string",
            "description": "Token da criptomoeda"
          }
        }
      },
      "QuoteResponseWrapperDto": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Indica se a operação foi bem-sucedida"
          },
          "message": {
            "type": "string",
            "description": "Mensagem descritiva da operação"
          },
          "data": {
            "$ref": "#/components/schemas/QuoteDataDto"
          }
        }
      },
      "CreatePaymentDto": {
        "type": "object",
        "required": ["quote_id"],
        "properties": {
          "quote_id": {
            "type": "string",
            "description": "ID da cotação para criar o pagamento"
          }
        }
      },
      "PaymentDataDto": {
        "type": "object",
        "properties": {
          "pix_code": {
            "type": "string",
            "description": "Código/coṕia e cola PIX gerado"
          },
          "quote_id": {
            "type": "string",
            "description": "ID da cotação utilizada"
          },
          "transaction_id": {
            "type": "number",
            "description": "ID da transação gerada"
          },
          "status": {
            "type": "string",
            "description": "Status do pagamento (ex: processing)"
          }
        }
      },
      "PaymentResponseWrapperDto": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Indica se a operação foi bem-sucedida"
          },
          "message": {
            "type": "string",
            "description": "Mensagem descritiva da operação"
          },
          "data": {
            "$ref": "#/components/schemas/PaymentDataDto"
          }
        }
      },
      "CreateBankAccountDto": {
        "type": "object",
        "required": ["name", "pix_key"],
        "properties": {
          "name": {
            "type": "string",
            "description": "Nome identificador da conta PIX"
          },
          "pix_key": {
            "type": "string",
            "description": "Chave PIX"
          }
        }
      },
      "UpdateBankAccountDto": {
        "type": "object",
        "required": ["name"],
        "properties": {
          "name": {
            "type": "string",
            "description": "Novo nome da conta bancária"
          }
        }
      },
      "BankAccountResponseDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "number",
            "description": "ID interno da conta"
          },
          "userId": {
            "type": "number",
            "description": "ID do usuário"
          },
          "type": {
            "type": "string",
            "description": "Tipo da conta (ex: pix)"
          },
          "name": {
            "type": "string",
            "description": "Nome da conta"
          },
          "pix_key": {
            "type": "string",
            "description": "Chave PIX cadastrada"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Data de criação"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Data da última atualização"
          }
        }
      },
      "BankAccountResponseWrapperDto": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Indica se a operação foi bem-sucedida"
          },
          "message": {
            "type": "string",
            "description": "Mensagem descritiva da operação"
          },
          "data": {
            "$ref": "#/components/schemas/BankAccountResponseDto"
          }
        }
      },
      "BankAccountListResponseWrapperDto": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Indica se a operação foi bem-sucedida"
          },
          "message": {
            "type": "string",
            "description": "Mensagem descritiva da operação"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BankAccountResponseDto"
            },
            "description": "Lista de contas bancárias"
          },
          "pagination": {
            "$ref": "#/components/schemas/PaginationDto"
          }
        }
      },
      "PaginationDto": {
        "type": "object",
        "properties": {
          "total": { "type": "number" },
          "page": { "type": "number" },
          "pageSize": { "type": "number" },
          "totalPages": { "type": "number" },
          "hasNextPage": { "type": "boolean" },
          "hasPreviousPage": { "type": "boolean" }
        }
      },
      "PayoutQuoteRequestDto": {
        "type": "object",
        "required": [
          "bank_account_id",
          "currency_type",
          "cover_fees",
          "request_amount",
          "network",
          "token"
        ],
        "properties": {
          "bank_account_id": {
            "type": "number",
            "description": "ID interno da conta bancária"
          },
          "currency_type": {
            "type": "string",
            "enum": ["sender", "receiver"],
            "description": "Sender: envia BRL; Receiver: valor alvo em USD/cripto"
          },
          "cover_fees": {
            "type": "boolean",
            "description": "Define se o usuário cobre as taxas"
          },
          "request_amount": {
            "type": "number",
            "description": "Valor solicitado em BRL"
          },
          "network": {
            "type": "string",
            "enum": ["base", "polygon", "ethereum", "tron", "solana"],
            "description": "Rede blockchain para o payout"
          },
          "token": {
            "type": "string",
            "enum": ["USDC", "USDT"],
            "description": "Token da cotação"
          }
        }
      },
      "PayoutQuoteDataDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "number",
            "description": "ID interno da quote"
          },
          "quote_id": {
            "type": "string",
            "description": "ID externo da cotação"
          },
          "userId": {
            "type": "number",
            "description": "ID do usuário"
          },
          "bankAccountId": {
            "type": "number",
            "description": "ID da conta bancária utilizada"
          },
          "token": {
            "type": "string",
            "description": "Token da cotação (USDC ou USDT)"
          },
          "network": {
            "type": "string",
            "description": "Rede blockchain"
          },
          "commercial_quotation": {
            "type": "string",
            "description": "Taxa comercial (cotação)"
          },
          "quotation": {
            "type": "string",
            "description": "Taxa de cotação aplicada"
          },
          "receiver_amount": {
            "type": "string",
            "description": "Valor que será recebido (BRL, valores reais)"
          },
          "sender_amount": {
            "type": "string",
            "description": "Valor que será enviado (BRL, valores reais)"
          },
          "partner_fee_amount": {
            "type": "string",
            "description": "Taxa do parceiro (BRL)"
          },
          "flat_fee": {
            "type": "string",
            "description": "Taxa fixa (BRL)"
          },
          "request_amount": {
            "type": "string",
            "description": "Valor solicitado (BRL, valores reais)"
          },
          "currency_type": {
            "type": "string",
            "description": "sender ou receiver"
          },
          "cover_fees": {
            "type": "boolean",
            "description": "Se o usuário cobre as taxas"
          },
          "receiver_local_amount": {
            "type": "string",
            "nullable": true,
            "description": "Valor local do receptor, quando disponível"
          },
          "description": {
            "type": "string",
            "nullable": true,
            "description": "Descrição adicional"
          },
          "contract": {
            "type": "object",
            "description": "Dados do contrato ERC20 para aprovação/transferência",
            "properties": {
              "abi": {
                "type": "array",
                "items": { "type": "object" },
                "description": "ABI do contrato do token"
              },
              "amount": {
                "type": "string",
                "description": "Quantidade em unidades do token"
              },
              "address": {
                "type": "string",
                "description": "Endereço do token"
              },
              "network": {
                "type": "object",
                "properties": {
                  "name": { "type": "string" },
                  "chainId": { "type": "number" }
                }
              },
              "functionName": {
                "type": "string",
                "description": "Função sugerida (ex: approve)"
              },
              "contractAddress": {
                "type": "string",
                "description": "Endereço do contrato alvo"
              }
            }
          },
          "expires_at": {
            "type": "string",
            "format": "date-time",
            "description": "Data de expiração"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Data de criação"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Data de atualização"
          }
        }
      },
      "PayoutQuoteResponseWrapperDto": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Indica se a operação foi bem-sucedida"
          },
          "message": {
            "type": "string",
            "description": "Mensagem descritiva da operação"
          },
          "data": {
            "$ref": "#/components/schemas/PayoutQuoteDataDto"
          }
        }
      },
      "PayoutRequestDto": {
        "type": "object",
        "required": ["payout_quote_id", "sender_wallet_address", "network"],
        "properties": {
          "payout_quote_id": {
            "type": "number",
            "description": "ID da payout quote previamente criada"
          },
          "sender_wallet_address": {
            "type": "string",
            "description": "Endereço da carteira que enviará o token"
          },
          "network": {
            "type": "string",
            "enum": ["base", "polygon", "ethereum", "tron", "solana"],
            "description": "Rede usada para a transação"
          }
        }
      },
      "PayoutTrackingStepDto": {
        "type": "object",
        "properties": {
          "step": {
            "type": "string",
            "description": "Etapa do fluxo (ex: on_hold, processing)"
          },
          "status": {
            "type": "string",
            "nullable": true,
            "description": "Status detalhado, quando disponível"
          },
          "completed_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Data de conclusão da etapa"
          },
          "transaction_hash": {
            "type": "string",
            "nullable": true,
            "description": "Hash da transação, quando aplicável"
          },
          "provider_name": {
            "type": "string",
            "nullable": true
          },
          "provider_status": {
            "type": "string",
            "nullable": true
          },
          "provider_transaction_id": {
            "type": "string",
            "nullable": true
          },
          "estimated_time_of_arrival": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "PayoutDataDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "number",
            "description": "ID interno do payout"
          },
          "payout_id": {
            "type": "string",
            "description": "ID externo do payout"
          },
          "userId": {
            "type": "number",
            "description": "ID do usuário"
          },
          "payoutQuoteId": {
            "type": "number",
            "description": "ID da payout quote utilizada"
          },
          "sender_wallet_address": {
            "type": "string",
            "description": "Endereço da carteira de envio"
          },
          "status": {
            "type": "string",
            "description": "Status do payout (ex: processing)"
          },
          "receiver_id": {
            "type": "string",
            "description": "Identificador do recebedor"
          },
          "tracking_complete": {
            "$ref": "#/components/schemas/PayoutTrackingStepDto"
          },
          "tracking_payment": {
            "$ref": "#/components/schemas/PayoutTrackingStepDto"
          },
          "tracking_transaction": {
            "$ref": "#/components/schemas/PayoutTrackingStepDto"
          },
          "tracking_partner_fee": {
            "$ref": "#/components/schemas/PayoutTrackingStepDto"
          },
          "tracking_liquidity": {
            "$ref": "#/components/schemas/PayoutTrackingStepDto"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Data de criação"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Data de atualização"
          }
        }
      },
      "PayoutResponseWrapperDto": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Indica se a operação foi bem-sucedida"
          },
          "message": {
            "type": "string",
            "description": "Mensagem descritiva da operação"
          },
          "data": {
            "$ref": "#/components/schemas/PayoutDataDto"
          }
        }
      },
      "Error": {
        "type": "object",
        "required": ["error", "message"],
        "properties": {
          "error": {
            "type": "string",
            "description": "Tipo do erro"
          },
          "message": {
            "type": "string",
            "description": "Descrição do erro"
          }
        }
      },
      "CreateSubAccountRequest": {
        "type": "object",
        "required": ["company_infos", "representative", "address"],
        "properties": {
          "company_infos": {
            "type": "object",
            "required": ["cnpj", "company_name", "trade_name", "company_type", "constitution_date", "monthly_income"],
            "properties": {
              "cnpj": {
                "type": "string",
                "description": "CNPJ da empresa",
                "example": "12345678000195"
              },
              "company_name": {
                "type": "string",
                "description": "Razão social da empresa",
                "example": "Empresa Exemplo LTDA"
              },
              "trade_name": {
                "type": "string",
                "description": "Nome fantasia da empresa",
                "example": "Empresa Exemplo"
              },
              "company_type": {
                "type": "string",
                "description": "Tipo da empresa",
                "example": "LTDA"
              },
              "constitution_date": {
                "type": "string",
                "format": "date",
                "description": "Data de constituição",
                "example": "2020-01-01"
              },
              "monthly_income": {
                "type": "number",
                "description": "Renda mensal da empresa",
                "example": 50000
              }
            }
          },
          "representative": {
            "type": "object",
            "required": ["name", "email", "cpf", "full_name", "phone", "mother_name", "monthly_income", "birth_date", "was_signed", "signature_date"],
            "properties": {
              "name": {
                "type": "string",
                "description": "Nome do representante",
                "example": "João Silva"
              },
              "email": {
                "type": "string",
                "format": "email",
                "description": "Email do representante",
                "example": "joao@empresa.com"
              },
              "cpf": {
                "type": "string",
                "description": "CPF do representante",
                "example": "12345678901"
              },
              "full_name": {
                "type": "string",
                "description": "Nome completo do representante",
                "example": "João Silva Santos"
              },
              "phone": {
                "type": "string",
                "description": "Telefone do representante",
                "example": "+5511987654321"
              },
              "mother_name": {
                "type": "string",
                "description": "Nome da mãe do representante",
                "example": "Maria Silva"
              },
              "monthly_income": {
                "type": "string",
                "description": "Renda mensal do representante",
                "example": "3000"
              },
              "birth_date": {
                "type": "string",
                "format": "date",
                "description": "Data de nascimento",
                "example": "1990-01-01"
              },
              "was_signed": {
                "type": "boolean",
                "description": "Se o representante já assinou os documentos",
                "example": true
              },
              "signature_date": {
                "type": "string",
                "format": "date",
                "description": "Data da assinatura",
                "example": "2024-01-01"
              }
            }
          },
          "address": {
            "type": "object",
            "required": ["street", "number", "city", "zip_code", "neighborhood", "uf", "adress_type"],
            "properties": {
              "street": {
                "type": "string",
                "description": "Rua/Logradouro",
                "example": "Rua Exemplo"
              },
              "number": {
                "type": "string",
                "description": "Número",
                "example": "123"
              },
              "city": {
                "type": "string",
                "description": "Cidade",
                "example": "São Paulo"
              },
              "zip_code": {
                "type": "string",
                "description": "CEP",
                "example": "01234567"
              },
              "neighborhood": {
                "type": "string",
                "description": "Bairro",
                "example": "Centro"
              },
              "uf": {
                "type": "string",
                "description": "UF (Estado)",
                "example": "SP"
              },
              "adress_type": {
                "type": "number",
                "description": "Tipo de endereço",
                "example": 1
              }
            }
          },
          "ref": {
            "type": "string",
            "description": "Referência opcional para identificação",
            "example": "A12as31qw78gb"
          }
        }
      },
      "CreateSubAccountResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "Status da resposta",
            "example": "success"
          },
          "account": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "description": "Nome da empresa",
                "example": "Empresa Exemplo LTDA"
              },
              "document": {
                "type": "string",
                "description": "CNPJ da empresa",
                "example": "12345678000195"
              },
              "status": {
                "type": "string",
                "description": "Status da conta",
                "example": "PENDING"
              },
              "secrets": {
                "type": "object",
                "properties": {
                  "api_key": {
                    "type": "string",
                    "description": "Chave de API da subconta",
                    "example": "ak_1234567890abcdef"
                  },
                  "api_secret": {
                    "type": "string",
                    "description": "Secret de API da subconta",
                    "example": "as_1234567890abcdef"
                  }
                }
              }
            }
          }
        }
      },
      "UploadDocumentResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "Status da resposta",
            "example": "success"
          },
          "message": {
            "type": "string",
            "description": "Mensagem de resposta",
            "example": "Documento enviado com sucesso."
          },
          "data": {
            "type": "object",
            "properties": {
              "filename": {
                "type": "string",
                "description": "Nome do arquivo",
                "example": "rg_frente.jpg"
              },
              "document_type": {
                "type": "string",
                "description": "Tipo do documento",
                "example": "RG_FRONT"
              },
              "document_format": {
                "type": "string",
                "description": "Formato do documento",
                "example": "JPG"
              }
            }
          }
        }
      },
      "OpenAccountResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "Status da resposta",
            "example": "success"
          },
          "message": {
            "type": "string",
            "description": "Mensagem de resposta",
            "example": "Conta em analise."
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "api_key"
      },
      "apiSecretAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "api_secret"
      }
    }
  }
}